
# --- Databases ---
# Use 'db' for Docker or 'localhost' for local development
ConnectionStrings__DefaultConnection=Host=db;Port=5432;Database=myapp_db;Username=postgres;Password=your_password
ConnectionStrings__RedisConnection=localhost:6379

# --- Authentication & JWT ---
# Key should be a long random string
Jwt__Key=ThisIsADefaultSecretKeyForTesting123456789!
Jwt__Issuer=https://localhost:5001
Jwt__Audience=https://localhost:4200

# -- if you want tot try OAuth with githup put your keys 
Authentication__Github__ClientId=
Authentication__Github__ClientSecret=

# --- Frontend Settings ---
Frontend__BaseUrl=http://localhost:4200

# --- Email Settings if you want to use mailtrap but you can use maildev that injected with the image (Mailtrap/SMTP) --- 
EmailSettings__FromEmail=noreply@myapp.com
EmailSettings__Host=smtp.mailtrap.io
EmailSettings__Port=587
EmailSettings__Username=
EmailSettings__Password=