<div class="layout-wrapper">
  <aside [class.collapsed]="!isSidebarOpen">
    <div class="logo"> INVENTO </div>
    
    <nav>
      <a *ngFor="let item of menuItems" 
         [routerLink]="item.route" 
         routerLinkActive="active-link">
        <i [class]="item.icon"></i>
        <span>{{ item.label }}</span>
      </a>
    </nav>
  </aside>

  <main>
    <header>
      <button (click)="toggleSidebar()">Toggle</button>
      <div class="user-profile">Admin User</div>
    </header>

    <section class="content">
      <router-outlet></router-outlet>
    </section>
  </main>
</div>